@import url('https://fonts.googleapis.com/css2?family=Allison&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/* Asterisk wildcard selector to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Project styles */
    font-family: "Lora", serif;
    /* background image */
    background: url('../images/Forbury Lion Background.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

/* Header */
header {
    background-color: rgb(0, 58, 0);
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px;
}

/* Added to push page down after Header fixed in place for scrolling */
.page-push {
    margin-top: 15%;
}

/* Logo styling */
#logo {
    font-family: "Allison", cursive;
    font-size: 250%;
    color: silver;
    display: flex;
    justify-content: flex-start;
    margin: 2%;
}

/* Menu */
/* Overall menu positioning */
#menu-block {
    display: flex;
    justify-content: flex-end;
}

/* removing checkbox */
#toggle-switch {
    display: none;
}
/* Menu stylings */
#menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 58, 0);
    font-size: 250%;
    width: 60%;
}

#menu > li {
    text-align: center;
    border-style: ridge;
    border-color: black;
    list-style-type: none;
    text-decoration: none;
}

#menu > li:hover {
    background-color: green;
}

#menu > li > a {
    text-decoration: none;
    color: silver;
}

/* Psuedo class to open and close menu */
#toggle-switch:checked~#menu {
    display: block;
}

/* fix menu bars in position */
#fa-bars {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    font-size: 250%
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Timeline Page */

/* Timeline Stylings*/

/* Timeline box*/
.timeline-container-left,
.timeline-container-right {
    background-color: rgb(0, 58, 0);
    position: relative;
    text-align: center;
    max-width: 70%;
    margin: 15%;
    padding: 5%;
    z-index: 1;
    border-style: solid;
    border-color: silver;
    border-width: thin;
    border-radius: 5%;
    box-shadow: 0 3px 2px #3a3a3a;
}

/* Timeline bar*/
.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 58, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-color: silver;
    border-width: thin;
    box-shadow: 0 5px 2px #3a3a3a
}

/* Content of timeline boxes */
.timeline-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    color: silver;
}

/*Gallery Page*/
.gallery-entry, .gallery-entry > img {
    max-width: 100%;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

/* Footer */
footer {
    background-color: rgb(0, 58, 0);
    position: fixed;
    width: 100%;
    z-index: 99;
    bottom: 0;
    box-shadow: 2px 0px 2px;
}

/* Links to external websites */
#visit-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#visiy-links > li, a {
    text-decoration: none;
    color: silver;
}

/* Media Queries*/
/*Tablets and up (768px+)*/

@media screen and (min-width: 768px) {

    /* Header */

    /* Added to push page down after Header fixed in place for scrolling */
    .page-push {
         margin-top: 10%;
    }
    /* Menu */
    #menu-block {
        align-items: flex-end;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        
    }

    #fa-bars {
        display: none;
    }

    #menu > li {
        text-align: center;
        border-style: none;
        margin: 0% 5%;
    }

    /* Adjusting alignment of timeline entries to alternate left/right */

    .timeline-container-left {
        max-width: 35%;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .timeline-container-right {
        max-width: 35%;
        margin-left: 55%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 10%;
    }

    /* Add arrows pointing to timeline */
    .timeline-container-left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 100%;
        border: medium solid rgb(0, 58, 0);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent silver;
        filter: drop-shadow(0 3px 2px #3a3a3a);
    }

    .timeline-container-right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 100%;
        border: medium solid rgb(0, 58, 0);
        border-width: 10px 10px 10px 0;
        border-color: transparent silver transparent transparent;
        filter: drop-shadow(0 3px 2px #3a3a3a);
    }

    /*Gallery Page*/
    #gallery {
        column-count: 3;
        column-gap: 0;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /*Gallery Page*/
    #gallery {
        column-count: 4;
    }

    /* Added to push page down after Header fixed in place for scrolling */
    .page-push {
        margin-top: 7.5%;
    }
}